ðŸ’» Exercises - Day 1

1. Check the python version you are using

In [48]:
python --version

2.Open the python interactive shell and do the following operations.

The operands are 3 and 4.

Addition (+)

In [49]:
print(3+4)

7

Subtraction (-)

In [50]:
print(3-4)

-1

Multiplication (*)

In [51]:
print(3*4)

12

Modulus (%)

In [52]:
print(3*4)

12

Division(/)

In [53]:
print(3/4)

0.75

Exponential(**)

In [54]:
print(3**4)

81

Floor division operator(//)

In [55]:
print(3//4)

0

3. Write strings on the python interactive shell. The strings are the following:

Your name

In [56]:
print("Dhilipkumar")

Dhilipkumar

Your family name

In [57]:
print("mannusanthi")

mannusanthi

Your country

In [58]:
print("India")

India

I am enjoying 30 days of python

In [59]:
print("I am enjoying 30 days of python")

I am enjoying 30 days of python

4.Check the data types of the following data

10

In [60]:
print(type(10))

<class 'int'>

9.8

In [61]:
print(type(9.8))

<class 'float'>

3.14

In [62]:
print(type(3.14))

<class 'float'>

4 - 4j

In [63]:
print(type(4 - 4j))

<class 'complex'>

['Asabeneh', 'Python', 'Finland']

In [64]:
print(type(['Asabeneh', 'Python', 'Finland']))

<class 'list'>

Your name

In [65]:
print(type("Dk"))

<class 'str'>

Your family name

In [66]:
print(type("mannu santhi"))

<class 'str'>

Your country

In [67]:
print(type("India"))

<class 'str'>

Exercise: Level 2

1.Create a folder named day_1 inside 30DaysOfPython folder. Inside day_1 folder, create a python file helloworld.py and repeat questions 1, 2, 3 and 4. Remember to use print() when you are working on a python file. Navigate to the directory where you have saved your file, and run it.

Exercise: Level 3

1. Write an example for different Python data types such as Number(Integer, Float, Complex), String, Boolean, List, Tuple, Set and Dictionary.

Integer

In [68]:
print(type(10))

<class 'int'>

Float

In [69]:
print(type(3.14))

<class 'float'>

Complex

In [70]:
print(type(3 + 4j))

<class 'complex'>

String

In [71]:
print(type("Dhilipkumar"))

<class 'str'>

List

In [72]:
print(type([1, 2, 3, 4, 5, 6, 7]))

<class 'list'>

Dictionary

In [73]:
print(type({"Name":"Dhilipkumar"}))

<class 'dict'>

Set

In [74]:
print(type({9.8, 32.2, 56.1}))

<class 'set'>

Tuples

In [75]:
print(type((9.5, 34.2, 67.1)))

<class 'tuple'>

2. Find an Euclidian distance between (2, 3) and (10, 8)

In [76]:
#Find an Euclidian distance between (2, 3) and (10, 8)

(x1, x2) = (2, 3)
(y1, y2) = (10, 8)
Euclidian_distance = (((x2-x1)**2+(y2-y1)**2)**0.5)
print(Euclidian_distance)

2.23606797749979

***