ðŸ’» Exercises - Day 2

Write a python comment saying 'Day 2: 30 Days of python programming

In [2]:
print("Day 2: 30 Days of python programming")

Day 2: 30 Days of python programming

Declare a first name variable and assign a value to it

In [3]:
first_name = "Dhilp"

Declare a last name variable and assign a value to it

In [4]:

last_name = "Kumar"

Declare a full name variable and assign a value to it

In [5]:

full_name = "Dhilipkumar"

Declare a country variable and assign a value to it

In [6]:

country = "India"

Declare a city variable and assign a value to it

In [7]:

city = "Chennai"

Declare an age variable and assign a value to it

In [8]:

age = 24

Declare a year variable and assign a value to it

In [9]:

year = 2024

Declare a variable is_married and assign a value to it

In [10]:

is_married = "No"

Declare a variable is_true and assign a value to it

In [11]:

is_true = True

Declare a variable is_light_on and assign a value to it

In [12]:

is_light_on = False

Declare multiple variable on one line

In [13]:

first_name, last_name,full_name, country, city, age, year, is_married, is_true, is_light_on = "Dhilip", "Kumar", "Dhilipkumar", "India", "Chennai", 24, 2024, False, False, True

Exercises: Level 2


Check the data type of all your variables using type() built-in function

In [14]:
print(type(first_name))

<class 'str'>

Using the len() built-in function, find the length of your first name

In [15]:
print(len(first_name))

6

Compare the length of your first name and your last name

In [16]:
fn = len(first_name)
ln = len(last_name)
print(fn, ln)

6 5

Declare 5 as num_one and 4 as num_two

In [17]:
num_one = 5
num_two = 4

Add num_one and num_two and assign the value to a variable total

In [18]:
print(num_one+num_two)

9

Subtract num_two from num_one and assign the value to a variable diff

In [19]:
print(num_two-num_one)

-1

Multiply num_two and num_one and assign the value to a variable product

In [20]:
print(num_one * num_two)

20

Divide num_one by num_two and assign the value to a variable division

In [21]:
print(num_one / num_two)

1.25

Use modulus division to find num_two divided by num_one and assign the value to a variable remainder

In [22]:
print(num_two%num_one)

4

Calculate num_one to the power of num_two and assign the value to a variable exp

In [23]:
print(num_one ** num_two)

625

Find floor division of num_one by num_two and assign the value to a variable floor_division

In [24]:
floor_division = (num_one// num_two)

The radius of a circle is 30 meters.

Calculate the area of a circle and assign the value to a variable name of area_of_circle

In [25]:
r = 30
PI = 3.142
area_of_circle = PI * (r)**2
print(area_of_circle)

2827.7999999999997

Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle

In [26]:
circum_of_circle = 2 * PI * r
print(circum_of_circle)

188.51999999999998

Take radius as user input and calculate the area.

In [27]:
radius = 30
#radius = int(input("Enter the radius : "))
area = PI * radius **2

Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords

In [28]:
print("first name: ",first_name)
print("last name :", last_name)
print("country where you live in :", country)
print("your current age :", age)

first name:  Dhilip
last name : Kumar
country where you live in : India
your current age : 24

In [29]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not